# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/

# Secret files
.env
**/.env

# Local database fallback files
db.json
**/db.json
category_rules.json
**/category_rules.json

# Operating System files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
